header div{
    width:40%;
    margin:auto;

}

table{
    border-width : 6px;
    border-color: black;
    margin: 20px auto;    
}
td{
    width:60px;
    height:60px;
    background-color: blue;
    color:blue;
    border-radius: 15px;
    text-align:center;
    font-size:2em;
}
input{
    width:50%;
}
header{
    text-align: center;
    margin:20px auto;
}

::-moz-selection{
    color:inherit;
    background:inherit;
}
::selection{
    color:inherit;
    background:inherit;
}